project:
  type: website
  output-dir: _site

website:
  title: "Personal Website"
  navbar:
    background: primary
    search: true
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme: 
      light: flatly
      dark: darkly
    css: styles/site.scss
    toc: true
    toc-location: right
