.cvdate {
  float: right;
  font-style: italic
}

.print-only {
  display: none;
}

@media print {
  @page {
    size: auto;
    counter-increment: page;
    @bottom-center {
      content: "Page " counter(page) " of " counter(pages);
      font-size: 0.8rem;
    };
    @bottom-right {
      content: var(--updated-text);
      font-size: 0.8rem;
    }
  }

  .no-print {
    display: none;
  }

  .print-only {
    display: block;
  }

  .contact-block {
    margin-bottom: 2rem;
    text-align: center;
  }

  :root { 
    font-size: 12px; 
    font-family: 'Open Sans', sans-serif;
  }

  header h1.title {
    display: none;
  }
  
  header .author {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  h2 {
    font-weight: bold;
    text-transform: uppercase;
  }

  h3 {
    font-weight: bold;
    text-transform: uppercase;
  }

  h4 {
    font-weight: normal;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: #004488ff;
  }
}
